NodeREDflow_dashboard.json
[{"id":"53160a6c.540d94","type":"tab","label":"Practical","disabled":false,"info":""},{"id":"7f69655b.8d887c","type":"ui_ui_control","z":"53160a6c.540d94","name":"Change tab","events":"change","x":470,"y":220,"wires":[[]]},{"id":"27c6ab63.326004","type":"ui_button","z":"53160a6c.540d94","name":"","group":"1e39c412.17bb3c","order":9,"width":2,"height":1,"passthru":false,"label":"Log In","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{ \"tab\": \"login\" }","payloadType":"json","topic":"topic","topicType":"msg","x":330,"y":220,"wires":[["7f69655b.8d887c"]]},{"id":"f882b957.949f08","type":"ui_button","z":"53160a6c.540d94","name":"","group":"1e39c412.17bb3c","order":8,"width":2,"height":1,"passthru":false,"label":"Sign up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{ \"tab\": \"Signup\" }","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":260,"wires":[["7f69655b.8d887c"]]},{"id":"8bebee5d.86fd2","type":"ui_text","z":"53160a6c.540d94","group":"3ce4df05.a0f4d","order":1,"width":0,"height":0,"name":"SignUp","label":"","format":"Please SignUp to create an account","layout":"row-spread","x":860,"y":140,"wires":[]},{"id":"61536504.52e50c","type":"ui_form","z":"53160a6c.540d94","name":"","label":"","group":"fe31f110.a184","order":2,"width":6,"height":1,"options":[{"label":"Quantity","value":"Quantity","type":"number","required":true,"rows":null},{"label":"Ingredients","value":"Ingredients","type":"text","required":true,"rows":null}],"formValue":{"Quantity":"","Ingredients":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":1840,"wires":[["db439b5d.ea2578","b0feb20e.df08e"]]},{"id":"5db47fde.180d6","type":"ui_text","z":"53160a6c.540d94","group":"fe31f110.a184","order":1,"width":6,"height":1,"name":"Pls input","label":"","format":"Please input your ingredients here!","layout":"row-spread","x":340,"y":1720,"wires":[]},{"id":"db439b5d.ea2578","type":"function","z":"53160a6c.540d94","name":"","func":"out = msg.payload.Quantity +' '+ msg.payload.Ingredients\n\nreturn {\n    ingr:out,\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":1840,"wires":[["715a35e6.d98cac","b6d8374b.525a78"]]},{"id":"b1813b7c.126b78","type":"function","z":"53160a6c.540d94","name":"","func":"\nreturn {payload : JSON.parse(msg.payload)};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1820,"wires":[["7185eb70.0ce1f4","4599ce69.5c31"]]},{"id":"715a35e6.d98cac","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://api.edamam.com/api/nutrition-data?app_id=6104bc54&app_key=d26d3b1c31e6361701db4971c0232b0e&ingr={{{ingr}}}","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":1820,"wires":[["b1813b7c.126b78"]]},{"id":"25a89cd4.d0d074","type":"ui_gauge","z":"53160a6c.540d94","name":"","group":"fe31f110.a184","order":5,"width":6,"height":3,"gtype":"donut","title":"","label":"units","format":"{{msg.payload}}","min":0,"max":"2500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"1000","x":430,"y":2060,"wires":[]},{"id":"8e33e517.437688","type":"ui_button","z":"53160a6c.540d94","name":"","group":"fe31f110.a184","order":6,"width":3,"height":1,"passthru":false,"label":"Calculate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":80,"y":2040,"wires":[["c43320b3.8565d"]]},{"id":"c43320b3.8565d","type":"function","z":"53160a6c.540d94","name":"Trigger","func":"calory_count = global.get('calory')\n\nif (msg.payload == false) {\n    calory_count = 0\n    global.set('calory',calory_count)\n    }\n\n\nreturn {\n    payload : calory_count\n};\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2040,"wires":[["25a89cd4.d0d074","897a21b3.02dd3"]]},{"id":"897a21b3.02dd3","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":2020,"wires":[]},{"id":"9cd70c59.13e71","type":"function","z":"53160a6c.540d94","name":"","func":"calorie = global.get('individual_calorie')\ndetails = global.get('details')\n\nvar myArray = context.get(\"myArray\");\n\nif (msg.payload == false) {\n    context.set(\"myArray\", []);\n    myArray = context.get(\"myArray\")\n    msg.payload = myArray}\n\nelse{\n    if(!myArray) {\n    context.set(\"myArray\", []);\n    myArray = context.get(\"myArray\")}\n\nif (calorie>0){\nmyArray.push(details);\nmsg.payload = myArray\n}}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2000,"wires":[["6bb3b722.105578","c035d1ee.3b177"]]},{"id":"6bb3b722.105578","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1940,"wires":[]},{"id":"7185eb70.0ce1f4","type":"function","z":"53160a6c.540d94","name":"","func":"var myArray = context.get(\"myArray\");\n\nif (msg.payload == false) {\n    context.set(\"myArray\", [])\n    sum = 0\n}\nelse{\n    \n    if(!myArray) {\n    context.set(\"myArray\", []);\n    myArray = context.get(\"myArray\");\n}\n\nmyArray.push(msg.payload.calories);\nglobal.set(\"individual_calorie\",msg.payload.calories)\nsum = myArray.reduce((a, b) => a + b, 0)\nmsg.payload = sum;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1860,"wires":[["dc173d2b.4bfee","191f7bf0.9f0644"]]},{"id":"dc173d2b.4bfee","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1900,"wires":[]},{"id":"f08a859a.39e888","type":"ui_media","z":"53160a6c.540d94","group":"1e39c412.17bb3c","name":"","width":6,"height":3,"order":4,"category":"BG","file":"pexels-photo-1640777.jpeg","layout":"side","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":150,"y":300,"wires":[[]]},{"id":"191f7bf0.9f0644","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"calory","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1860,"wires":[[]]},{"id":"563082e7.9999bc","type":"ui_button","z":"53160a6c.540d94","name":"","group":"fe31f110.a184","order":7,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":70,"y":2000,"wires":[["c43320b3.8565d","9cd70c59.13e71","7185eb70.0ce1f4"]]},{"id":"23be30e3.36725","type":"ui_text","z":"53160a6c.540d94","group":"fe31f110.a184","order":3,"width":6,"height":1,"name":"","label":"<small>E.g.:</small>","format":"<small>Quantity : 0.5 , Ingredient : tbsp sugar</small>","layout":"row-center","x":520,"y":1720,"wires":[]},{"id":"c035d1ee.3b177","type":"ui_table","z":"53160a6c.540d94","group":"fe31f110.a184","name":"","order":4,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":510,"y":1980,"wires":[]},{"id":"89993c79.1013f","type":"ui_button","z":"53160a6c.540d94","name":"","group":"fe31f110.a184","order":9,"width":3,"height":1,"passthru":false,"label":"Go to Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":2120,"wires":[["fe94ed4c.c8ea9"]]},{"id":"fe94ed4c.c8ea9","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Home\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":2120,"wires":[["e9a5bd3d.6709a"]]},{"id":"e9a5bd3d.6709a","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":380,"y":2120,"wires":[[]]},{"id":"2b18545b.6d154c","type":"mqtt in","z":"53160a6c.540d94","name":"","topic":"outWiFi","qos":"2","datatype":"utf8","broker":"8b497330.f55e5","nl":false,"rap":true,"rh":0,"x":150,"y":1060,"wires":[["4adb2e68.1ccbf","80c82304.9ac8c","2c1e77cc.807ca8"]]},{"id":"c44e9190.5127e","type":"mqtt in","z":"53160a6c.540d94","name":"","topic":"outAuth","qos":"2","datatype":"utf8","broker":"8b497330.f55e5","nl":false,"rap":true,"rh":0,"x":690,"y":1180,"wires":[["959eae0c.646f9","710cda13.4dacb4","a6edc58c.5d3b98"]]},{"id":"36e997dd.8c8e78","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":1,"width":6,"height":1,"name":"msg","label":"","format":"<font color =red>WiFi is not connected or NodeMCU is in sleep state.</font color =red>","layout":"row-center","x":130,"y":1140,"wires":[]},{"id":"2f85b6ea.b011da","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":2,"width":6,"height":1,"name":"pls follow","label":"","format":"Please follow the instructions,","layout":"col-center","x":140,"y":1180,"wires":[]},{"id":"200e9ace.364696","type":"ui_toast","z":"53160a6c.540d94","position":"dialog","displayTime":"10","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":450,"y":1020,"wires":[[]]},{"id":"18fbe5ae.f9e3fa","type":"ui_toast","z":"53160a6c.540d94","position":"dialog","displayTime":"10","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1070,"y":1140,"wires":[[]]},{"id":"d3de6912.06b798","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":3,"width":6,"height":1,"name":"reset","label":"1. Press the reset button","format":"","layout":"row-left","x":130,"y":1220,"wires":[]},{"id":"1bd240f7.9dab9f","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":5,"width":6,"height":1,"name":"1","label":"","format":"<small>i) Connect the device to 'Caloriecount' WiFi network</small>","layout":"col-center","x":130,"y":1260,"wires":[]},{"id":"da99789c.e7e398","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":7,"width":6,"height":1,"name":"2","label":"","format":"<small>iii) Press the configure button, and add your home WiFi credentials to get connected.<small>","layout":"col-center","x":330,"y":1260,"wires":[]},{"id":"1a180c78.748f44","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":9,"width":6,"height":2,"name":"3","label":"Note : If your credentials are correct CalorieCount WiFi network will be terminated, and the device will be connected with your home network.","format":"","layout":"col-center","x":430,"y":1260,"wires":[]},{"id":"710cda13.4dacb4","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id') \nvar str = msg.payload\n\nvar id = str.slice(0,3);\n\nif (id == device && str.slice(4,str.length)=='Authenticated'){\n     out =  {\"tab\":\"Check My Calorie Count\"}}\n\nelse {out = {\"tab\":\"\"}}\n\n\nreturn {payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1240,"wires":[["ef1e6589.bbd118","fb715131.7d36b"]]},{"id":"ef1e6589.bbd118","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":1020,"y":1240,"wires":[[]]},{"id":"5552adca.f83ca4","type":"ui_text","z":"53160a6c.540d94","group":"92c4414c.ae4dc","order":1,"width":0,"height":0,"name":"msg","label":"","format":"Please Follow the Instruction to Authenticate Your Device","layout":"col-center","x":990,"y":1340,"wires":[]},{"id":"5e09031b.1da15c","type":"ui_text","z":"53160a6c.540d94","group":"92c4414c.ae4dc","order":2,"width":6,"height":1,"name":"1","label":"1) Go to ","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1380,"wires":[]},{"id":"82c37219.d6f33","type":"ui_text","z":"53160a6c.540d94","group":"92c4414c.ae4dc","order":3,"width":6,"height":1,"name":"2","label":"2) Press authenticate button","format":"","layout":"col-center","x":990,"y":1420,"wires":[]},{"id":"bb5ddca.c97322","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":440,"y":1060,"wires":[[]]},{"id":"959eae0c.646f9","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1200,"wires":[]},{"id":"acc3bf75.24685","type":"ui_button","z":"53160a6c.540d94","name":"","group":"92c4414c.ae4dc","order":7,"width":0,"height":0,"passthru":false,"label":"Go to Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":690,"y":1500,"wires":[["99103e3c.7d81b"]]},{"id":"99103e3c.7d81b","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Home\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1500,"wires":[["84b92363.50b8a"]]},{"id":"84b92363.50b8a","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":980,"y":1500,"wires":[[]]},{"id":"cf404faf.c3c5d","type":"ui_button","z":"53160a6c.540d94","name":"","group":"92c4414c.ae4dc","order":6,"width":0,"height":0,"passthru":false,"label":"Go Back to Instruction Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":740,"y":1540,"wires":[["c4fc5e5.2bdbda"]]},{"id":"c4fc5e5.2bdbda","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Instructions\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1540,"wires":[["f22b7662.570fd8"]]},{"id":"f22b7662.570fd8","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":1080,"y":1540,"wires":[[]]},{"id":"cd78507d.94862","type":"ui_button","z":"53160a6c.540d94","name":"","group":"a0bc20ad.e7209","order":11,"width":0,"height":0,"passthru":false,"label":"Go to Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":150,"y":1300,"wires":[["f00df0a5.ef4b8"]]},{"id":"f00df0a5.ef4b8","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Home\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1300,"wires":[["1516c451.b1dd4c"]]},{"id":"1516c451.b1dd4c","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":440,"y":1300,"wires":[[]]},{"id":"821e1230.93d0f","type":"ui_text","z":"53160a6c.540d94","group":"1e39c412.17bb3c","order":3,"width":6,"height":1,"name":"Welcome! Eat better, Keep track of your calories!","label":"","format":"Welcome! Eat better, Keep track of your calories!","layout":"col-center","x":280,"y":180,"wires":[]},{"id":"9901e960.f7b758","type":"ui_text","z":"53160a6c.540d94","group":"92c4414c.ae4dc","order":4,"width":6,"height":1,"name":"3","label":"","format":"<small>Note : If your device is not autheticated please  <font color =red> Try Again!</font color =red></small>","layout":"col-center","x":990,"y":1460,"wires":[]},{"id":"620763d8.ff186c","type":"ui_text","z":"53160a6c.540d94","group":"1e39c412.17bb3c","order":1,"width":6,"height":1,"name":"Calorie Counter ","label":"","format":"<font color = blue> <big>Cal-Track </font color = blue></big>","layout":"col-center","x":180,"y":220,"wires":[]},{"id":"3646faba.9c2b36","type":"ui_text","z":"53160a6c.540d94","group":"1e39c412.17bb3c","order":5,"width":6,"height":1,"name":"to analyze","label":"<small>To analyze your calorie input based on your recipe and ingredients LogIn to your account, or SignUp to create an account. </small> ","format":"{{msg.payload}}","layout":"row-center","x":170,"y":140,"wires":[]},{"id":"b9f1eddf.958f2","type":"ui_form","z":"53160a6c.540d94","name":"Login","label":"","group":"5691e17f.f09db","order":2,"width":"6","height":"3","options":[{"label":"Username","value":"Username","type":"text","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Username":"","Password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":500,"wires":[["17026b88.b38174","adb8804f.36a53","f3952b8c.b90e08"]]},{"id":"f3952b8c.b90e08","type":"function","z":"53160a6c.540d94","name":"","func":"\nif (msg.payload.Username == 'admin' && msg.payload.Password==\"admin\"){\n    out = {\"tab\":\"Instructions\"}\n\n\nreturn {\n    payload : out\n    };\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":500,"wires":[["795fc066.fce6b"]]},{"id":"795fc066.fce6b","type":"ui_ui_control","z":"53160a6c.540d94","name":"Change tab","events":"all","x":410,"y":500,"wires":[[]]},{"id":"adb8804f.36a53","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"login","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":460,"wires":[[]]},{"id":"17026b88.b38174","type":"function","z":"53160a6c.540d94","name":"","func":"\nif (msg.payload.Username != null && msg.payload.Password != null){\n    out = msg.payload\n    return {\n        payload : out\n        }\n}\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":540,"wires":[["e8f3f0a4.a9987"]]},{"id":"e8f3f0a4.a9987","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/user_info.json","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":580,"wires":[["56e1e552.c9217c","d2fbe310.00b83"]]},{"id":"56e1e552.c9217c","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \n\nvar user = login[\"Username\"]\nvar pass = login[\"Password\"]\n\n\nkeys = Object.keys(msg.payload)\n\nfor (var i = 0 ; i < keys.length; i++){\n    if (msg.payload[keys[i]][0][\"Username\"] == user){\n      if (msg.payload[keys[i]][0][\"Password\"] == pass){\n        out = {\"tab\":\"Instructions\"}\n        \n        return {\n            payload : out\n            }\n        \n      }\n  }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":560,"wires":[["795fc066.fce6b","eb93fad0.fdd378"]]},{"id":"4731707f.c18cc","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"user","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[[]]},{"id":"221ea5b3.b17b1a","type":"ui_button","z":"53160a6c.540d94","name":"","group":"3ce4df05.a0f4d","order":3,"width":0,"height":0,"passthru":false,"label":"Go to Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":730,"y":300,"wires":[["119232dc.36483d"]]},{"id":"119232dc.36483d","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Home\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":300,"wires":[["d39a43c0.5a009"]]},{"id":"d39a43c0.5a009","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":1020,"y":300,"wires":[[]]},{"id":"b3b172e3.bf142","type":"ui_form","z":"53160a6c.540d94","name":"Signup","label":"","group":"3ce4df05.a0f4d","order":1,"width":0,"height":0,"options":[{"label":"First Name","value":"First Name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"Last Name","type":"text","required":true,"rows":null},{"label":"Device ID","value":"Device ID","type":"number","required":true,"rows":null},{"label":"Username","value":"Username","type":"text","required":true,"rows":null},{"label":"Email address","value":"Email address","type":"email","required":true,"rows":null},{"label":"Contact Number","value":"Contact Number","type":"text","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null},{"label":"Confirm password","value":"Confirm password","type":"password","required":true,"rows":null},{"label":"Accept terms and conditions","value":"Accept terms and conditions","type":"checkbox","required":true,"rows":null}],"formValue":{"First Name":"","Last Name":"","Device ID":"","Username":"","Email address":"","Contact Number":"","Password":"","Confirm password":"","Accept terms and conditions":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":700,"y":180,"wires":[["54c2066a.7d4cd8","d172bd5.bb42b4"]]},{"id":"54c2066a.7d4cd8","type":"function","z":"53160a6c.540d94","name":"","func":"\n\nout = {\"tab\":\"login\"}\n\nreturn {\n    payload : out\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":180,"wires":[["158dda99.9c29b5"]]},{"id":"d172bd5.bb42b4","type":"function","z":"53160a6c.540d94","name":"","func":"\nvar myArray_sign = context.get(\"myArray\");\n\nif(!myArray_sign) {\ncontext.set(\"myArray\", []);\nmyArray_sign = context.get(\"myArray\");\n}\n\nmyArray_sign.push(msg.payload);\nmsg.payload = myArray_sign;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":220,"wires":[["20fa3071.a0a0b","3514b601.9177fa"]]},{"id":"158dda99.9c29b5","type":"ui_ui_control","z":"53160a6c.540d94","name":"Change tab","events":"change","x":1030,"y":180,"wires":[[]]},{"id":"20fa3071.a0a0b","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":220,"wires":[]},{"id":"3514b601.9177fa","type":"http request","z":"53160a6c.540d94","name":"User_Info","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/user_info.json","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":260,"wires":[[]]},{"id":"63e19122.03704","type":"ui_text","z":"53160a6c.540d94","group":"5691e17f.f09db","order":1,"width":0,"height":0,"name":"Please input your login credentials","label":"","format":"Please input your login credentials","layout":"row-spread","x":660,"y":480,"wires":[]},{"id":"7261298d.049728","type":"complete","z":"53160a6c.540d94","name":"","scope":["191f7bf0.9f0644"],"uncaught":false,"x":90,"y":1940,"wires":[["9cd70c59.13e71"]]},{"id":"b0feb20e.df08e","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"details","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1780,"wires":[[]]},{"id":"4adb2e68.1ccbf","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":980,"wires":[]},{"id":"f27b453a.228708","type":"mqtt in","z":"53160a6c.540d94","name":"","topic":"outDailyconsume","qos":"2","datatype":"utf8","broker":"8b497330.f55e5","nl":false,"rap":true,"rh":0,"x":120,"y":3060,"wires":[["2691e0aa.053d9","574c7430.aa9bcc","a312590f.96d478"]]},{"id":"2691e0aa.053d9","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":3020,"wires":[]},{"id":"85302479.da3d28","type":"mqtt in","z":"53160a6c.540d94","name":"","topic":"outCalc","qos":"2","datatype":"utf8","broker":"8b497330.f55e5","nl":false,"rap":true,"rh":0,"x":650,"y":3020,"wires":[["f4476b9f.bb6f88","5feb8f3d.572ca"]]},{"id":"92957ae6.401438","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"inCalc","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":1010,"y":3140,"wires":[]},{"id":"fb715131.7d36b","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id')\n\nwifi_status = device+ \" \" + \"Device is Authenticated\"\nreturn {payload: wifi_status}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1280,"wires":[["42d34522.d7758c"]]},{"id":"42d34522.d7758c","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"inAuth","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":1010,"y":1280,"wires":[]},{"id":"d3525a33.04aaa8","type":"mqtt in","z":"53160a6c.540d94","name":"","topic":"outWiFiIP","qos":"2","datatype":"auto","broker":"ba5520a4.9c314","nl":false,"rap":true,"rh":0,"x":700,"y":1380,"wires":[["9790d9f.0d10228","2f4c0b4c.e3ffc4"]]},{"id":"9790d9f.0d10228","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1440,"wires":[]},{"id":"f4476b9f.bb6f88","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id') \nvar str = msg.payload\n\nvar id = str.slice(0,3);\n\nif (id == device){\nreturn {\n    ingr : str.slice(4,str.length),\n}}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":3020,"wires":[["b6ba3e78.6c013"]]},{"id":"b6ba3e78.6c013","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://api.edamam.com/api/nutrition-data?app_id=6104bc54&app_key=d26d3b1c31e6361701db4971c0232b0e&ingr={{{ingr}}}","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":3060,"wires":[["e04189a.e4d4378"]]},{"id":"e04189a.e4d4378","type":"function","z":"53160a6c.540d94","name":"","func":"\nreturn {payload : JSON.parse(msg.payload)};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":3100,"wires":[["a3165a67.9958f8"]]},{"id":"5863c4bd.200d0c","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":3080,"wires":[]},{"id":"5feb8f3d.572ca","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":2980,"wires":[]},{"id":"a3165a67.9958f8","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id')\n\nstatus = device + \" \" + msg.payload.calories\nreturn {payload : status};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":3140,"wires":[["92957ae6.401438","5863c4bd.200d0c"]]},{"id":"9899a4a7.e228d8","type":"comment","z":"53160a6c.540d94","name":"calorie track by phone","info":"calorie count of individual ingredient can be requested through mobile phone. Below blocks are designed for that purpose.","x":600,"y":2940,"wires":[]},{"id":"65130771.9477e8","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/calorie_info.json","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":560,"wires":[["74b060c2.2f142","3bd66d02.a76382"]]},{"id":"949049dd.c18b98","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"user","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":520,"wires":[[]]},{"id":"3bd66d02.a76382","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \nu = global.get('user') \n\nvar user = login[\"Username\"]\ndate = Object.keys(u[user])\ndate = date[0]\nvar new_msg = {}\nvar available = 0\n\n\nif (msg.payload != null){\n    keys = Object.keys(msg.payload)\n    \n    \n    for (var i = 0 ; i < keys.length; i++){\n        user_keys =  Object.keys(msg.payload[keys[i]])\n        if (user_keys[0] == user){\n            date_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]])\n            if (date_keys[0] == date){\n                available = 1    \n                var main_key = keys[i]\n            }\n            \n      }\n    }\n}\n\nif (available == 1){\n        u = msg.payload[main_key]\n        out = u\n    }else{\n        out = u\n    }\n\n\nreturn {\n        \n    payload : out\n    } \n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":560,"wires":[["949049dd.c18b98","2fb7e5bd.39effa"]]},{"id":"74b060c2.2f142","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \nu = global.get('user') \n\nvar user = login[\"Username\"]\ndate = Object.keys(u[user])\ndate = date[0]\nvar new_msg = {}\nvar available = 0\n\n\nif (msg.payload != null){\n    keys = Object.keys(msg.payload)\n    \n    \n    for (var i = 0 ; i < keys.length; i++){\n        user_keys =  Object.keys(msg.payload[keys[i]])\n        if (user_keys[0] == user){\n            date_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]])\n            if (date_keys[0] == date){\n                available = 1    \n                var main_key = keys[i]\n            }\n            \n      }\n    }\n}\n\nif (available == 1){\n        u = msg.payload[main_key]\n    }\n\n\nif (available == 0){\n    out = u\n    return {\n        \n    payload : out\n    } \n    \n}\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":600,"wires":[["367c4f4a.834f1"]]},{"id":"367c4f4a.834f1","type":"http request","z":"53160a6c.540d94","name":"Calorie_Info","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/calorie_info.json","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":600,"wires":[[]]},{"id":"88d99aa6.17d718","type":"sendgrid","z":"53160a6c.540d94","from":"mithunjhaanandakumar@gmail.com","multiple":false,"to":"","name":"","content":"text","templateId":"","templateData":"","x":860,"y":2760,"wires":[]},{"id":"d0e1f0c.d37e51","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"inDailyconsume","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":480,"y":3100,"wires":[]},{"id":"9f07306b.906fd","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \nu = global.get('user') \nvar tot_calorie =0\nvar user = login[\"Username\"]\n\nvar a = new Date().toString ()\nvar sub = a.split(\" \");\nvar date =sub[1] + \" \" + sub[2]+\" \"+sub[3]\nvar date2 = sub[2] + \"/\" + sub[1]+\"/\"+sub[3]\ndevice = global.get('device_id')\n\ndailycon = global.get('dailyconsume')\nvar id = dailycon.slice(0,3);\nkeys = Object.keys(msg.payload)\n\n\nif (id == device){\n    for (var i = 0 ; i < keys.length; i++){\n    user_keys =  Object.keys(msg.payload[keys[i]])\n    if (user_keys[0] == user){\n        date_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]])\n        if (date_keys[0] == date ){\n            food_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]][date_keys[0]])\n            \n            for (var j = 1; j<food_keys.length; j++){\n                tot_calorie+= msg.payload[keys[i]][user_keys[0]][date_keys[0]][food_keys[j]][\"Calories\"]\n            }\n        }\n        \n    }    \n    \n} \n\n    return {payload : device+\" \"+date2+\" \"+ tot_calorie \n        }}\n        \n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":3100,"wires":[["d0e1f0c.d37e51","3171a126.b9fa6e"]]},{"id":"6465db41.5636d4","type":"ui_button","z":"53160a6c.540d94","name":"","group":"fe31f110.a184","order":8,"width":3,"height":1,"passthru":false,"label":"Analyze","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":2180,"wires":[["6b4238d5.4a6328","1830f970.a2ba77"]]},{"id":"6b4238d5.4a6328","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"View Daily Calorie Intake\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2180,"wires":[["5ecfb8a4.71e9b8"]]},{"id":"5ecfb8a4.71e9b8","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":440,"y":2180,"wires":[[]]},{"id":"4ab2b303.334ebc","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":4,"width":6,"height":1,"name":"wifi","label":"2. If WiFi needs to be configured or changed","format":"","layout":"col-center","x":250,"y":1220,"wires":[]},{"id":"1d289696.c416e9","type":"inject","z":"53160a6c.540d94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2720,"wires":[["131be4ad.d6235b"]]},{"id":"c5d0e880.f1e878","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/calorie_info.json","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":2780,"wires":[["c1d31a32.943db8"]]},{"id":"c1d31a32.943db8","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \nu = global.get('user') \n\nvar user = login[\"Username\"]\nvar a = new Date().toString ()\nvar sub = a.split(\" \");\nvar date =sub[1] + \" \" + sub[2]+\" \"+sub[3]\nvar email_msg = {\"User\" : user, \"Date\": date, \"Food\":{}}\nkeys = Object.keys(msg.payload)\n\nfor (var i = 0 ; i < keys.length; i++){\n    user_keys =  Object.keys(msg.payload[keys[i]])\n    if (user_keys[0] == user){\n        date_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]])\n        if (date_keys[0] == date){\n            food_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]][date_keys[0]])\n            email_msg[\"Food\"] = food_keys.slice(1,food_keys.length)\n            var quan_array = []\n            var cal_array = []\n            for (var j =1 ; j<food_keys.length; j++){\n                var quan = msg.payload[keys[i]][user_keys[0]][date_keys[0]][food_keys[j]][\"Quantity\"]\n                var cal = msg.payload[keys[i]][user_keys[0]][date_keys[0]][food_keys[j]][\"Calories\"]\n                quan_array.push(quan)\n                cal_array.push(cal)\n            }    \n            email_msg[\"Quantity\"] = quan_array\n            email_msg[\"Calories\"] = cal_array\n            //email_msg[user] = msg.payload[keys[i]]\n            out =  email_msg\n            return {\n            payload : out\n            }\n        }\n        \n  }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":2780,"wires":[["1c8c4344.98b53d"]]},{"id":"59e31af9.b187e4","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":2720,"wires":[]},{"id":"1c8c4344.98b53d","type":"function","z":"53160a6c.540d94","name":"","func":"mail_user = global.get('mail_user')\nvar mail_addr = mail_user[\"email\"]\nvar user = msg.payload.User\nvar date = msg.payload.Date\nvar foods = msg.payload.Food\nvar quan = msg.payload.Quantity\nvar cal  = msg.payload.Calories\nvar str = \"Dear \"+mail_user[\"first_name\"]+\" \"+ mail_user[\"last_name\"]+\",\"+\"\\n\"+\"\\n\"+\n        \"The breakdown of your calorie intake on \"+ date +\" as follows in format (Food - Quantity - Calories):\\n\\n\"\n\n\n\nfor (var i = 0; i< Object.keys(foods).length; i++){\n    str += foods[i]+\" : \"+ quan[i]+ \" : \"+cal[i]+\"\\n\"\n}\nif (Object.keys(foods).length == 0){\n    str+= \"Eat well to stay fit\"\n}\nstr += \"\\nHave a nice day and stay fit\\n\\nWith Best Regards, \\nCal-Track Team\"\n\nemail={\"mail\":mail_addr,\"msg\":str}\n\n\nreturn{\n    to: mail_addr,\n    topic: \"Cal-Track\",\n    payload : str\n    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2780,"wires":[["59e31af9.b187e4","88d99aa6.17d718"]]},{"id":"131be4ad.d6235b","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/user_info.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":2720,"wires":[["ec27abc7.73f018"]]},{"id":"ec27abc7.73f018","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \n\nvar user = login[\"Username\"]\nvar pass = login[\"Password\"]\nvar out = {}\n\nkeys = Object.keys(msg.payload)\n\nfor (var i = 0 ; i < keys.length; i++){\n    if (msg.payload[keys[i]][0][\"Username\"] == user){\n        out[\"first_name\"] = msg.payload[keys[i]][0][\"First Name\"]\n        out[\"last_name\"] = msg.payload[keys[i]][0][\"Last Name\"]\n        out[\"email\"] = msg.payload[keys[i]][0][\"Email address\"]\n        out[\"contact\"] = msg.payload[keys[i]][0][\"Contact Number\"]\n        \n        \n    \n        return {\n            payload : out\n            }\n        \n    }\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2720,"wires":[["abf63120.b9d49"]]},{"id":"abf63120.b9d49","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"mail_user","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2720,"wires":[["c5d0e880.f1e878"]]},{"id":"4599ce69.5c31","type":"function","z":"53160a6c.540d94","name":"","func":"u = global.get('user') \nlogin = global.get('login') \nvar user = login[\"Username\"]\n\n\nkeys = Object.keys(u[user])\n\nfood_keys = Object.keys(u[user][keys[0]])\n\n\ncur_food = global.get('cur_ingr') \n\nvar a = cur_food.split(\" \")\nvar ing\nif (a.length > 2){\n    ing = a[1]+ \" \"+ a[2]}\n    \nelse{ing = a[1]}\n\nvar quan = parseInt(a[0])\nvar food = {}\nvar cal = msg.payload.calories\n\nfood[ing] = {\"Quantity\": quan, \"Calories\": cal }\n\nif (food_keys.includes(ing)){\n    dict = u[user][keys[0]][ing] \n    dict[\"Quantity\"] = dict[\"Quantity\"] +food[ing][\"Quantity\"]\n    dict[\"Calories\"] = dict[\"Calories\"] +food[ing][\"Calories\"]\n    u[user][keys[0]][ing]  = dict\n} else {\n    u[user][keys[0]][ing] = food[ing]\n}\n\nreturn {\n    payload : u\n};\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1780,"wires":[["12e00515.34989b","dd5a3b7d.24c2f8"]]},{"id":"dd5a3b7d.24c2f8","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/calorie_info.json","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1800,"wires":[["393007ed.db8ca8"]]},{"id":"12e00515.34989b","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1740,"wires":[]},{"id":"393007ed.db8ca8","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \nu = global.get('user') \n\nvar user = login[\"Username\"]\ndate = Object.keys(u[user])\ndate = date[0]\nvar new_msg = msg.payload\n\nkeys = Object.keys(msg.payload)\n\n\nfor (var i = 0 ; i < keys.length; i++){\n    user_keys =  Object.keys(msg.payload[keys[i]])\n    if (user_keys[0] == user){\n        date_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]])\n        if (date_keys[0] == date){\n            \n            new_msg[keys[i]] = u\n            out =  new_msg\n            return {\n            payload : out\n            }\n        }\n        \n  }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1800,"wires":[["f9ac4dfb.9dc7b"]]},{"id":"f9ac4dfb.9dc7b","type":"http request","z":"53160a6c.540d94","name":"Calorie_Info","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/calorie_info.json","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1800,"wires":[[]]},{"id":"b6d8374b.525a78","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"cur_ingr","pt":"global","to":"ingr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1860,"wires":[[]]},{"id":"2fb7e5bd.39effa","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":560,"wires":[]},{"id":"1830f970.a2ba77","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/calorie_info.json","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":2440,"wires":[["86d9671c.1b5508"]]},{"id":"86d9671c.1b5508","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \nu = global.get('user') \nvar tot_calorie =0\nvar tot_cal_arr =[]\nvar date_arr = []\nvar user = login[\"Username\"]\nvar report = {}\nkeys = Object.keys(msg.payload)\n\nfor (var i = 0 ; i < keys.length; i++){\n    user_keys =  Object.keys(msg.payload[keys[i]])\n    if (user_keys[0] == user){\n        date_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]])\n        food_keys =  Object.keys(msg.payload[keys[i]][user_keys[0]][date_keys[0]])\n        tot_calorie=0\n        for (var j = 1; j<food_keys.length; j++){\n            tot_calorie+= msg.payload[keys[i]][user_keys[0]][date_keys[0]][food_keys[j]][\"Calories\"]\n        }\n        tot_cal_arr.push(tot_calorie)\n        date_arr.push(date_keys[0])\n    }    \n    \n}\nreport[\"Date\"]=date_arr\nreport[\"Calories\"]=tot_cal_arr\n \nreturn {\n    payload : Array(report)\n        }\n\n\n// msg.payload=[{\n//     \"series\": [\"temp1\", \"temp2\", \"temp3\" ],\n//     \"data\": [ 5, 6, 7],\n//     \"labels\": [ \"Jan\", \"Feb\", \"Mar\" ]\n// }];\n// return msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2440,"wires":[["e3be707.2718a9"]]},{"id":"eb93fad0.fdd378","type":"function","z":"53160a6c.540d94","name":"","func":"u= global.get('login')\n\nvar a = new Date().toString ()\nvar sub = a.split(\" \");\nvar date =sub[1] + \" \" + sub[2]+\" \"+sub[3]\n// var date =sub[1] + \" \" + '18'+\" \"+sub[3]\nvar u_msg={}\nvar d_msg ={}\nvar user = u[\"Username\"]\nd_msg[date] = {\"0\":0}\nu_msg[user] =  d_msg\nreturn {\n    payload : u_msg\n};\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":560,"wires":[["65130771.9477e8","4731707f.c18cc"]]},{"id":"d2fbe310.00b83","type":"function","z":"53160a6c.540d94","name":"","func":"login = global.get('login') \n\nvar user = login[\"Username\"]\nvar pass = login[\"Password\"]\n\n\nkeys = Object.keys(msg.payload)\n\nfor (var i = 0 ; i < keys.length; i++){\n    if (msg.payload[keys[i]][0][\"Username\"] == user){\n      if (msg.payload[keys[i]][0][\"Password\"] == pass){\n        var device_id =msg.payload[keys[i]][0][\"Device ID\"]\n        \n        \n        return {\n            payload : device_id\n            }\n        \n      }\n  }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":600,"wires":[["a95778a3.9e0cf8","695afb99.afe6f4"]]},{"id":"a95778a3.9e0cf8","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":600,"wires":[]},{"id":"695afb99.afe6f4","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"device_id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[[]]},{"id":"80c82304.9ac8c","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id') \nvar str = msg.payload\n\nvar id = str.slice(0,3);\n\nif (id == device && str.slice(4,str.length)==\"WiFi is connected\"){\n     out =  {\"tab\":\"Authenticate\"}}\n\nelse {out = {\"tab\":\"\"}}\n\n\nreturn {payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1060,"wires":[["bb5ddca.c97322"]]},{"id":"2f4c0b4c.e3ffc4","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id') \nvar str = msg.payload\n\nvar id = str.slice(0,3);\n\nif (id == device){\n     out =  str.slice(4,str.length)\n\nreturn {payload : out\n    }}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1380,"wires":[["5e09031b.1da15c"]]},{"id":"a28c5f9f.3a901","type":"inject","z":"53160a6c.540d94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"555 1 orange","payloadType":"str","x":190,"y":3400,"wires":[["7051aceb.b12354"]]},{"id":"7051aceb.b12354","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"outCalc","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":360,"y":3400,"wires":[]},{"id":"871bd398.75b54","type":"inject","z":"53160a6c.540d94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"555 dailyconsume","payloadType":"str","x":190,"y":3340,"wires":[["e09561be.4f5b1"]]},{"id":"e09561be.4f5b1","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"outDailyconsume","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":390,"y":3340,"wires":[]},{"id":"3171a126.b9fa6e","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":3160,"wires":[]},{"id":"574c7430.aa9bcc","type":"http request","z":"53160a6c.540d94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cal-track-76cfd-default-rtdb.firebaseio.com/calorie_info.json","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":3060,"wires":[["9f07306b.906fd"]]},{"id":"a312590f.96d478","type":"change","z":"53160a6c.540d94","name":"","rules":[{"t":"set","p":"dailyconsume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2980,"wires":[[]]},{"id":"4d284317.87406c","type":"twilio out","z":"53160a6c.540d94","twilio":"5a51e92c.dfb0b8","twilioType":"sms","url":"","number":"+94771171993","name":"SMS","x":850,"y":2800,"wires":[]},{"id":"bfd4806b.27944","type":"inject","z":"53160a6c.540d94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"555 WiFi is connected","payloadType":"str","x":180,"y":3460,"wires":[["c206c657.468948"]]},{"id":"c206c657.468948","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"outWiFi","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":360,"y":3460,"wires":[]},{"id":"d6ee2556.a1cd38","type":"inject","z":"53160a6c.540d94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"555 Authenticated","payloadType":"str","x":170,"y":3580,"wires":[["2855a87a.522cc8"]]},{"id":"2855a87a.522cc8","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"outAuth","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":340,"y":3580,"wires":[]},{"id":"1d6105c8.988e6a","type":"inject","z":"53160a6c.540d94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"555 192.168.12.2","payloadType":"str","x":180,"y":3520,"wires":[["c27129ee.c8cc68"]]},{"id":"c27129ee.c8cc68","type":"mqtt out","z":"53160a6c.540d94","name":"","topic":"outWiFiIP","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ba5520a4.9c314","x":340,"y":3520,"wires":[]},{"id":"939dd747.f301c8","type":"comment","z":"53160a6c.540d94","name":"email notification","info":"Email notification using send grid - total daily counts are mailed to the users.\nmessage app required premium package to send messages to multiple users.\n","x":600,"y":2660,"wires":[]},{"id":"5ee6d729.132898","type":"ui_button","z":"53160a6c.540d94","name":"","group":"667c290f.7cf3d8","order":7,"width":0,"height":0,"passthru":false,"label":"Go to Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":610,"y":2480,"wires":[["6d65c126.797e6"]]},{"id":"6d65c126.797e6","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Home\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":2480,"wires":[["f766b789.d409f8"]]},{"id":"f766b789.d409f8","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":920,"y":2480,"wires":[[]]},{"id":"1664337.c98afcd","type":"ui_button","z":"53160a6c.540d94","name":"","group":"667c290f.7cf3d8","order":6,"width":0,"height":0,"passthru":false,"label":"Go Back to Calorie counter page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":680,"y":2520,"wires":[["850b28e6.924388"]]},{"id":"850b28e6.924388","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Check My Calorie Count\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":2520,"wires":[["f72ea2e6.8fe7a"]]},{"id":"f72ea2e6.8fe7a","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":1040,"y":2520,"wires":[[]]},{"id":"1e7d39.8b4252c7","type":"ui_chart","z":"53160a6c.540d94","name":"","group":"667c290f.7cf3d8","order":2,"width":"6","height":"6","label":"Your Daily Calorie Intake","chartType":"bar","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#245db7","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1030,"y":2440,"wires":[[]]},{"id":"e3be707.2718a9","type":"function","z":"53160a6c.540d94","name":"","func":"var x=0;\nvar data = [];\nvar labels = [];\n// var new_data = {\"series\":\"A\",\"data\":[], \"labels\": \"b\"};\nvar new_data ={}\nvar i=0;\n\nfor (i=0; i< msg.payload[0][\"Date\"].length; i++) {\n  \n    data.push(msg.payload[0][\"Calories\"][i]) \n    labels.push(msg.payload[0][\"Date\"][i])\n}\n//new_data[\"data\"] = {\"x\": data, \"y\" : label};\n\nmsg.payload = [{\n    \"series\": [\"Calorie Intake Per Day\"],\n    \"data\": [data],\n    \"labels\": labels\n}];\n\nreturn msg;\n\n\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":2440,"wires":[["1e7d39.8b4252c7","c1ab32e9.b397b"]]},{"id":"c1ab32e9.b397b","type":"debug","z":"53160a6c.540d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":2400,"wires":[]},{"id":"5bbf5f16.7efbd","type":"comment","z":"53160a6c.540d94","name":"view daily calorie intake tab","info":"","x":780,"y":2360,"wires":[]},{"id":"d9f20897.0bb068","type":"comment","z":"53160a6c.540d94","name":"check my calorie count tab","info":"","x":630,"y":1660,"wires":[]},{"id":"3edf0581.6a72fa","type":"comment","z":"53160a6c.540d94","name":"Instruction Tab","info":"","x":280,"y":920,"wires":[]},{"id":"d4ecb69f.92b908","type":"comment","z":"53160a6c.540d94","name":"Authentication tab","info":"","x":870,"y":1080,"wires":[]},{"id":"cd3feaa2.1cc9e8","type":"ui_button","z":"53160a6c.540d94","name":"","group":"5691e17f.f09db","order":3,"width":0,"height":0,"passthru":false,"label":"Go to Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":450,"y":700,"wires":[["78186a22.159604"]]},{"id":"78186a22.159604","type":"function","z":"53160a6c.540d94","name":"","func":"\nout = {\"tab\":\"Home\"}\n\n\nreturn {\n    payload : out\n    };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":700,"wires":[["4b5687fd.976558"]]},{"id":"4b5687fd.976558","type":"ui_ui_control","z":"53160a6c.540d94","name":"","events":"all","x":740,"y":700,"wires":[[]]},{"id":"3a06f605.88426a","type":"comment","z":"53160a6c.540d94","name":"Home tab","info":"","x":280,"y":80,"wires":[]},{"id":"eba87bc4.f4e9b8","type":"comment","z":"53160a6c.540d94","name":"sign up page","info":"","x":870,"y":80,"wires":[]},{"id":"bf9facc8.dfb0e","type":"comment","z":"53160a6c.540d94","name":"Login page","info":"","x":540,"y":420,"wires":[]},{"id":"a2620e82.cfd9d","type":"comment","z":"53160a6c.540d94","name":"For testing purpose","info":"","x":560,"y":3460,"wires":[]},{"id":"da886c06.d34a","type":"ui_text","z":"53160a6c.540d94","group":"1e39c412.17bb3c","order":2,"width":6,"height":1,"name":"Calorie Counter ","label":"","format":"<font color = blue> Your personal calorie tracker</font color = blue>","layout":"col-center","x":180,"y":260,"wires":[]},{"id":"424369ea.27dd58","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":6,"width":6,"height":1,"name":"1.1","label":"","format":"<small>ii) Go to http://192.168.4.1</small>","layout":"row-left","x":230,"y":1260,"wires":[]},{"id":"64349b23.6942f4","type":"ui_text","z":"53160a6c.540d94","group":"a0bc20ad.e7209","order":10,"width":6,"height":1,"name":"4","label":"","format":" <small>If not please <font color =red> Try Again!</font color =red></small>","layout":"row-left","x":530,"y":1260,"wires":[]},{"id":"2c1e77cc.807ca8","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id') \nvar str = msg.payload\nvar id = str.slice(0,3);\n\nif (id == device){\n    out = id + \": WiFi is connected\"\n\nreturn {payload : out}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1020,"wires":[["200e9ace.364696"]]},{"id":"a6edc58c.5d3b98","type":"function","z":"53160a6c.540d94","name":"","func":"device = global.get('device_id') \nvar str = msg.payload\nvar id = str.slice(0,3);\n\nif (id == device){\n    out = id + \": WiFi is connected\"\n\nreturn {payload : out}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1140,"wires":[["18fbe5ae.f9e3fa"]]},{"id":"1e39c412.17bb3c","type":"ui_group","name":"Home","tab":"4259d8d7.56d5a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ce4df05.a0f4d","type":"ui_group","name":"SignUp Page","tab":"72aa2f81.2c582","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe31f110.a184","type":"ui_group","name":"Check My Calorie Count","tab":"db646870.ed6908","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b497330.f55e5","type":"mqtt-broker","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a0bc20ad.e7209","type":"ui_group","name":"Instructions Page","tab":"fccd231b.6dbf8","order":2,"disp":true,"width":6,"collapse":false},{"id":"92c4414c.ae4dc","type":"ui_group","name":"Authentication Page","tab":"5d234da0.a68684","order":1,"disp":true,"width":"6","collapse":false},{"id":"5691e17f.f09db","type":"ui_group","name":"Login Page","tab":"81420526.c97748","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba5520a4.9c314","type":"mqtt-broker","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5a51e92c.dfb0b8","type":"twilio-api","name":"","sid":"ACbfc85556b08222e847508b152cf45848","from":"+16073912592"},{"id":"667c290f.7cf3d8","type":"ui_group","name":"View Daily Calorie Intake","tab":"89e7ec28.844bb","order":1,"disp":true,"width":"6","collapse":false},{"id":"4259d8d7.56d5a8","type":"ui_tab","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"72aa2f81.2c582","type":"ui_tab","name":"Signup","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"db646870.ed6908","type":"ui_tab","name":"Check My Calorie Count","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"fccd231b.6dbf8","type":"ui_tab","name":"Instructions","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"5d234da0.a68684","type":"ui_tab","name":"Authenticate","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"81420526.c97748","type":"ui_tab","name":"login","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"89e7ec28.844bb","type":"ui_tab","name":"View Daily Calorie Intake","icon":"dashboard","disabled":false,"hidden":false}]